#side-bar {
    background-color: #28231C;
    color: white;
 


    
}
/* #main-content {
    background-color: FFFFFF;
    color: black;
    margin-left:300px;
}
#carousel-row{
    margin: 10px;
}
#item-list{
    margin:30px
} */
