#card {
  margin: 10px;
  height: fit-content;
}
.cardImage {
  width: 50px;
  height: 50px;
}

.add-cart {
  margin-bottom: 5px;
}

.toast-container {
  position: fixed; /* Position fixed relative to viewport */
  top: 10px; /* Adjust as needed */
  right: 10px; /* Adjust as needed */
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
  z-index: 999; /* Ensure it appears on top of other content */
  max-width: 300px; /* Adjust maximum width as needed */
  overflow-y: auto; /* Enable vertical scrolling if content exceeds container height */
  max-height: 90vh; /* Limit maximum height to 90% of viewport height */
}

.toast-container.show {
  opacity: 1;
  visibility: visible;
}
.card-img, .card-img-bottom, .card-img-top {
  width: 100%;
  max-height: 175px;
}