.cart-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #col-qtd {
    width: 50px;
  }
  #col-price{
    width: 50px;
  }
  .card {
    width: 80%;
    max-width: 600px;
    background-color: gray; /* Set background color to gray */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
 
  .shipping-section,
  .promotion-section {
    margin-bottom: 20px;
  }
  
  .shipping-dropdown {
    width: 100%;
  }
  
  .promotion-input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  

  .line-item-btn {
    width: 15px;
    height: 30px;
    text-align: center;

  }
  .summary {
    padding: 0 20px;
  }
  
  .btn-checkout {
    width: 100%;
    margin-top: 20px;
  }
  
  .back-to-shop {
    position: absolute;
    bottom: 20px;
    left: 20px;
  }
  
  .delete-element:hover {
    background-color: red !important; /* Hover background color */
  }
  