/* SideButtons.css */
.toggle-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin-top: 10px;

}

.toggle-button-container > div {
    margin-bottom: 5px;
}

.toggle-button-container .btn {
    width: 200px; 
    transition: background-color 0.3s ease, color 0.3s ease;
}
.side-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin-top: 10px;
}




